#include <gtest/gtest.h>

#define private public
#define protected public

$$FOREACH ${includepaths}
#include ${filepath}
$$NEXT ${includepaths}

using namespace ::testing;

$$FOREACH ${classes}
class ${classname}_test : public ::testing::Test {
$$IF ${merge}
protected:
  virtual void SetUp() {
  }
  virtual void TearDown() {
  }
$$ELSE
${fixturebody}
$$END ${merge}
};

$$FOREACH ${functions}
TEST(${classname}_test, ${functionname}) {
}

$$NEXT ${functions}
$$NEXT ${classes}
